  <div class="small-12 column">

    <%= back_link_to account_path, t("verification.back") %>

    <h1><%= t("verification.verified_user.show.title") %></h1>

    <p><%= t("verification.verified_user.show.explanation") %></p>

    

  </div>